<div class="position-absolute w-100 h-100 login-bg">
  <div class="position-absolute w-100 login-head">
    <img src="../../assets/images/logo.png" style="float: left;margin-right: 50px;height: 64px;width: auto;">
    <div
      style="float: left;line-height: 64px; padding-left: 33px;color: #fff;border-left: 1px solid #FFF;font-size: 28px;">
      欢迎登陆
    </div>
  </div>
  <div class="position-absolute w-100 login-footer text-center">
    Copyright © 2017 无人机监管项目 ICP:D548-85855 沪ICP备1111111号 访问统计
  </div>
</div>
<button class="btn btn-primary">开始</button>

