<div class="w-100 h-100" style="background-color: #2E3137">
  <div class="d-flex justify-content-center w-100"><img src="../../../assets/images/logo.png"></div>

  <div class="pd0 menu-line-height pointer"
       *ngFor="let menu of menus; index as i; first as isFirst;">
    <div class="text-width position-relative fc-white menu-padding" (click)="toggleMenu($event,i)">
      <img src="{{menu.menuImg}}" class="menus-icon position-absolute"/>
      {{menu.menuName+i}}
      <div class="menus-more position-absolute">
        <div class="{{menu.active ? 't-arrow' : 'b-arrow'}}">
        </div>
      </div>
    </div>

    <div class="pd0" *ngIf="menu.active">
      <div *ngFor="let sub of menu.subs ;index as j; first as isSubFirst;" routerLink="{{sub.path}}"
           (click)="toggleMenu($event,i,j)"
           class="{{'text-width position-relative fc-white menu-padding-sub '+(sub.active ? ' menu-active-color':'')}}">
        <div class="{{(sub.active? 'menu-active ' :'') + ' position-absolute h-100' }}"></div>
        {{sub.menuName}}
        <!-- <img src="{{sub.menuImg}}" class="menus-more position-absolute"/>-->
      </div>
    </div>
  </div>

</div>
