$line-height: 30px;
$border-width: 3px;
$menu-active-color: #2185E9;
.menu-line-height {
  line-height: $line-height;
}

.menus-more {
  width: 20px;
  height: 20px;
  right: 0px;
  top: 5px;

}

.menus-icon {
  width: 20px;
  height: 20px;
  left: 10px;
  top: 5px;
}

.menu-padding {
  padding: 0px 40px;
  outline: none;
  user-select: none;
}

.menu-padding-sub {
  box-sizing: content-box;
  padding: 0px 40px;
  outline: none;
  user-select: none;
}

.menu-active-color {
  color: $menu-active-color;
}

.menu-active {
  border: none;
  border-left: $border-width $menu-active-color solid;
  left: 0px;
}
