<div class="login-body">
  <form name="Form" class="pull-right login-form">
    <div class="panel panel-default">
      <div class="panel-body" style="padding: 42px 50px 57px;">
        <div class="pull-left" style="font-size: 24px;color: #333;">找回密码</div>
        <div class="pull-right" style="font-size: 14px;color: #999;line-height: 62px;">
          <span routerLink="/user/login" style="color: #C00 !important;" class="pointer">返回登陆</span>
        </div>
        <div class="form-group">
          <input class="form-control login-user-icon" placeholder="请输入您的用户名/邮箱/手机号"></div>
        <div class="form-group">
          <input class="form-control login-passwd-icon" placeholder="请输入登陆密码"></div>
        <button class="btn btn-danger w-100">注册</button>
      </div>
    </div>
  </form>
</div>
