<div class="w-100 pdx">
  <div class="search-input position-relative">
    <input class="form-control" placeholder="搜索"/>
    <div class="position-absolute top-0 right0">
      <span style="line-height: 32px;margin-right: 15px;font-size: 10px;vertical-align: sub"
            (click)="toggleDropdownSearch($event)">高级搜索</span>
      <span class="glyphicon glyphicon-search"
            style="line-height: 32px;right: 15px; color: #1e87f0;vertical-align: sub"></span>
    </div>
    <div [autoClose]="false" dropdown [isOpen]="status.searchOpen" (isOpenChange)="changeSearch($event)"
         placement="top right">
      <div class="dropdown-toggle" dropdownToggle></div>
      <div *dropdownMenu class="dropdown-menu bottom dropdown-menu-right w-100 right0" role="menu">
        <div class="arrow"></div>
        <div class="pd15" style="white-space: nowrap;line-height: 34px;">
          <span style="white-space: pre-line">提示：请配置(searchHandler)="searchHandler($event)" [options]="options" </span>
          <div *ngIf="options.showDate" class="d-flex justify-content-around">
            <div>时间范围：</div>
            <input class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="datepickerStartModel"/>
            <div>到</div>
            <input class="form-control" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="datepickerEndModel"/>
          </div>
          <div *ngIf="options.auditType" class=" d-flex justify-content-around" style="margin-top: 10px;">
            <div>审核类型：</div>
            <input class="form-control" [(ngModel)]="searchType"/></div>
          <button class="btn btn-primary pull-right" style="margin-top: 10px;" (click)="search($event)">搜索</button>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute right0 top0 header-user-info">
    <div dropdown [isOpen]="status.isopen" (isOpenChange)="change($event)" placement="top right">
      <div class="dropdown-toggle" dropdownToggle>
        <div class="glyphicon glyphicon-triangle-bottom pull-right mr f12 lh">&nbsp;</div>
        <div class="pull-right mr lh">name
        </div>
        <img class="pull-right mr" src="../../../assets/images/jizhan.png"/>
      </div>
      <ul *dropdownMenu class="dropdown-menu bottom dropdown-menu-right" role="menu">
        <div class="arrow"></div>
        <li role="menuitem"><a class="dropdown-item" routerLink="/user/reset">修改密码</a>
        <li role="menuitem"><a class="dropdown-item" (click)="loginOut($event)">注销</a>
        </li>
      </ul>
    </div>
  </div>
</div>
