<div class="w-100 pdx">
  <div class="search-input position-relative">
    <input class="form-control" placeholder="搜索"/>
    <div class="position-absolute top-0 right0">
      <span style="line-height: 32px;margin-right: 15px;" (click)="toggleDropdownSearch($event)">高级搜索</span>
      <span class="glyphicon glyphicon-search" style="line-height: 32px;right: 15px;"></span>
    </div>
    <div [autoClose]="false" dropdown [isOpen]="status.searchOpen" (isOpenChange)="changeSearch($event)"
         placement="top right">
      <div class="dropdown-toggle" dropdownToggle></div>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right w-100 right0" role="menu" (click)="stopPop($event)">

        <div class="pd15" style="white-space: nowrap;line-height: 34px;">
          <div class=" d-flex justify-content-around">
            <div>时间范围：</div>
            <input class="form-control" bsDatepicker/>
            <div>到</div>
            <input class="form-control" bsDatepicker/>
          </div>
          <div class=" d-flex justify-content-around" style="margin-top: 10px;">
            <div>审核类型：</div>
            <input class="form-control"/></div>
          <button class="btn btn-primary pull-right" style="margin-top: 10px;">搜索</button>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute right0 top0 header-user-info">
    <div dropdown [isOpen]="status.isopen" (isOpenChange)="change($event)" placement="top right">
      <div class="dropdown-toggle" dropdownToggle>
        <div class="glyphicon glyphicon-triangle-bottom pull-right mr f12 lh">&nbsp;</div>
        <div class="pull-right mr lh">name
        </div>
        <img class="pull-right mr" src="../../../assets/images/jizhan.png"/>
      </div>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="/user/reset">修改密码</a>
        <li role="menuitem"><a class="dropdown-item" href="#">注销</a>
        </li>
      </ul>
    </div>
  </div>
</div>
