//使用$声明变量

$abs: 0;
$head-height: 80px;
$head-footer: 35px;
$login-panel-width: 444px;
$pad: 8px;
.login-bg {
  top: $abs;
  left: $abs;
  right: $abs;
  bottom: $abs;
  background: #000 url(../../assets/images/bgLogin.jpg) center center no-repeat;
  background-size: cover;
  overflow: auto;
}

//.login-bg::-webkit-scrollbar {
//  width: 0px;
//}

.login-body {
  padding-top: $head-height;
  padding-bottom: $head-footer;
  overflow-y: scroll;
  width: inherit;
  height: inherit;
}

.login-body::-webkit-scrollbar {
  width: 0px;
}

.login-head {
  height: $head-height;

  top: $abs;
  left: $abs;
  padding: $pad 0px $pad $head-height;
  overflow: hidden;
  img {
    margin-right: $head-height * (5/8);
    height: $head-height - $pad*2;
    width: auto;
    float: left;
  }
  div {
    line-height: $head-height - $pad*2;
    padding-left: $head-height * (3/8);
    color: #fff;
    border-left: 1px solid #FFF;
    font-size: $head-height * (3/8);
    float: left;
  }
}

.login-btn {
  height: $head-height;
  a {
    border: 1px solid #fff;
    color: #fff;
    width: 100px;
    background-color: transparent;
    margin-right: 15px;
    margin-top: ($head-height - 34px)/2;
  }
}

.login-panel {
  width: $login-panel-width;
  margin: 20px 100px auto auto;
  position: relative;
  padding: 42px 50px 57px;
  border-radius: 10px;
  background-color: #fff;
}

.login-footer {
  position: fixed !important;
  height: $head-footer;
  background-color: rgba(0, 0, 0, .8);
  color: #666;
  bottom: 0;
  left: 0;
  line-height: $head-footer;
  font-size: 10px;
}

.login-form {
  width: 444px;
  //padding: 42px 50px 57px;
  margin: 40px 100px auto auto;
}

.login-user-icon {
  background: url(../../assets/images/user-icon.png) 7px center no-repeat;
  padding-left: 30px;
}

.login-passwd-icon {
  background: url(../../assets/images/passwd-icon.png) 7px center no-repeat;
  padding-left: 30px;
}

.login-email-icon {
  background: url(../../assets/images/icon-email.png) 7px center no-repeat;
  padding-left: 30px;
}

.login-phone-icon {
  background: url(../../assets/images/iconPhone.png) 7px center no-repeat;
  padding-left: 30px;
}

.login-vcode-icon {
  background: url(../../assets/images/iconVcode.png) 7px center no-repeat;
  padding-left: 30px;
}

.login-filter-icon {
  background: url(../../assets/images/icon-filter.png) 7px center no-repeat;
  padding-left: 30px;
}

.error-info {
  margin-top: 10px;
  border: 1px dotted #c00;
  background-color: #ffffb8;
  padding: 0 10px;
  line-height: 34px;
  font-size: 14px;
  border-radius: 3px;
  color: #C00;
  text-align: center;
}

.fc-c00 {
  color: #C00;
}

.register-error-info {
  font-size: 12px;
  color: #C00;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
  clear: both;
}

.register-error-info:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../assets/images/iconError.png) 0 0 no-repeat;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  left: -23px;
  top: 0;
}
