<div class="position-absolute w-100 h-100 login-bg">
  <div class="position-fixed w-100  d-flex justify-content-between" style="  background-color: rgba(0, 0, 0, .3);">
    <div class="login-head h-100">
      <a href="/html/index.html">
        <img src="../../../assets/images/logo.png">
      </a>
      <div>
        欢迎登陆
      </div>
    </div>
    <div class="login-btn" *ngIf="show.url == '/user/login' ? false:true">
      <a class="btn btn-default pointer" routerLink="/user/login">登陆</a>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="position-fixed w-100 login-footer text-center">
    Copyright © 2017 无人机监管项目 ICP:D548-85855 沪ICP备1111111号 访问统计
  </div>
</div>
<button class="btn btn-primary">开始</button>

