<div class="login-body">
  <form name="Form" class="pull-right login-form">
    <div class="panel panel-default">
      <div class="panel-body" style="padding: 42px 50px 57px;">
        <div class="pull-left" style="font-size: 24px;color: #333;">用户登陆</div>
        <div class="pull-right" style="font-size: 14px;color: #999;line-height: 62px;">没有账号？
          <span routerLink="/user/register" style="color: #C00 !important;" class="pointer">立即注册</span>
        </div>
        <div class="form-group">
          <input class="form-control login-user-icon" placeholder="请输入您的用户名/邮箱/手机号"></div>
        <div class="form-group">
          <input class="form-control login-passwd-icon" placeholder="请输入登陆密码"></div>
        <button routerLink="/user/reset" class="btn btn-link pull-right" style="color: #C00;">忘记密码</button>
        <button class="btn btn-danger w-100">登陆</button>
      </div>
    </div>
  </form>
</div>
